BACKEND_ENDPOINT=https://admin.dimorepalladiane.com/wp-json/wp/v2
APPLICATION_PASSWORD=tPBH 06Gy 82aP DITr U2wB 6tii #si genera dal profilo utente su backend wordpress
NEXT_PUBLIC_SITE_URL=https://dimorepalladiane.com