.formWrapper{
    width: 100%; position: relative; 
    form{
        width: 100%; display: flex; flex-direction: column; align-items: flex-start;
        .formFields{
            display: grid; flex-wrap: wrap; align-items: flex-start; justify-content: flex-start; gap: 20px; grid-template-columns: repeat(12,1fr); width: 100%;
            .singleField{
                display: flex; flex-direction: column; align-items: flex-start; position: relative; width: 100%; grid-column: span 12;
                .inputContainer{
                    width: 100%;
                    input:not(input[type="checkbox"]), select, textarea{
                        width: 100%; border-radius: 50px; background-color: #D9D9D91A; border: none; padding-left: 15px; color: #fff; font-family: var(--font-aspekta); font-size: 16px; font-weight: 300;
                        &::placeholder{color: #fff; font-family: var(--font-aspekta); font-size: 16px; font-weight: 300;}
                        &:focus::placeholder{opacity: 0;}
                    }
                    textarea{border-radius: 10px; min-block-size: 80px; max-width: 100%; min-width: 100%;}
                    input:not(input[type="checkbox"]), select{height: 40px;}
                }
                &:global(.type-consent){
                    margin-top: -15px;
                    .inputContainer label{
                        width: 100%; display: flex; align-items: center; justify-content: flex-start; gap: 8px;
                        span{font-size: 10px; line-height: 15px;}
                    }
                } 
                &:global(.hidden_label) .labelContainer{display: none;}
            }
        }
        .formSubmit{
            margin-top: 10px;
        }
    }
}