:root {
  --background: #1B1B19;
  --foreground: #fff;
  --spacing: 1rem;
  --main-color: #00A2AD;
  --sfumatura-1: linear-gradient(90deg,#00A2AD, #005157, #000000 70%);
}

*{box-sizing: border-box;}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-aspekta: var(--font-aspekta);
  --spacing: var(--spacing);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-aspekta);
  font-size: 20px;
  line-height: 30px;
}

main{min-height: 100vh;}


//utils
a{text-decoration: none; color: var(--foreground);}