.video-carousel-section{
    overflow: hidden;
    .video-carousel-cards{
        max-width: calc(200% / 3); margin-left: 0 !important; position: relative;
        .swiper-wrapper{
            align-items: stretch; 
            .swiper-slide{border-radius: 5px; overflow: hidden;}
            .plyr{
                &.plyr--paused .plyr__controls{display: none;}
            }
        } 
    }
    .carousel-actions{
        width: calc(200% / 3); display: flex; align-items: center; justify-content: space-between; margin-top: 15px;
        .next, .prev{cursor: pointer;}
        .prev{transform: rotate(-180deg);}
    }
}
