.siteHeader{
    position: fixed; top: 10px; left: 0; width: 100vw; padding: 0 40px; display: flex; align-items: center; justify-content: flex-start;
    .logo{margin-right: 40px;}
    .hamburgerButton{min-width: 100px; padding: 15px; background-color: var(--main-color); display: flex; justify-content: center; align-items: center; margin-right: 10px; border-radius: 5px;}
    .menuContainer{
        display: flex; align-items: center; justify-content: center; padding: 15px 200px; background: var(--sfumatura-1); border-radius: 5px; gap: 40px; width: 100%;
    }
}